--
-- PostgreSQL database dump
--

\restrict j7YYSUeaeKrrVvwirc19lDIMZjTi2TPfTVRGf2tT0KKn2weEtwloT9xsZtNdhnj

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg12+1)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: squats_challenge_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO squats_challenge_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: squats; Type: TABLE; Schema: public; Owner: squats_challenge_user
--

CREATE TABLE public.squats (
    id integer NOT NULL,
    user_name text NOT NULL,
    date text NOT NULL,
    squats integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.squats OWNER TO squats_challenge_user;

--
-- Name: squats_id_seq; Type: SEQUENCE; Schema: public; Owner: squats_challenge_user
--

CREATE SEQUENCE public.squats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.squats_id_seq OWNER TO squats_challenge_user;

--
-- Name: squats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: squats_challenge_user
--

ALTER SEQUENCE public.squats_id_seq OWNED BY public.squats.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: squats_challenge_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO squats_challenge_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: squats_challenge_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO squats_challenge_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: squats_challenge_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: squats id; Type: DEFAULT; Schema: public; Owner: squats_challenge_user
--

ALTER TABLE ONLY public.squats ALTER COLUMN id SET DEFAULT nextval('public.squats_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: squats_challenge_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: squats; Type: TABLE DATA; Schema: public; Owner: squats_challenge_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: squats_challenge_user
--

COPY public.users (id, username, password_hash, created_at) FROM stdin;
1	Attila	$2b$10$8uRlzuj0qmPvrKoBOyRQA.D7tBsBY2ikUSSJRZkv87kJE6fngsUmC	2025-09-06 15:34:49.353588
2	TintaK	$2b$10$QXei24dfPH5PdIlKEH8FYOLW9hZ3Pe1fX14mLizshh7kitHVCOtNa	2025-09-06 16:01:14.837838
3	daniela22	$2b$10$Co8ZyhE6V16pI5F3GUojNusxq2U9VqLZJQCGGNNtfhJrLSs0ckPN.	2025-09-10 11:22:16.555461
\.


--
-- Name: squats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: squats_challenge_user
--

SELECT pg_catalog.setval('public.squats_id_seq', 76, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: squats_challenge_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: squats squats_pkey; Type: CONSTRAINT; Schema: public; Owner: squats_challenge_user
--

ALTER TABLE ONLY public.squats
    ADD CONSTRAINT squats_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: squats_challenge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: squats_challenge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO squats_challenge_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO squats_challenge_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO squats_challenge_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO squats_challenge_user;


--
-- PostgreSQL database dump complete
--

\unrestrict j7YYSUeaeKrrVvwirc19lDIMZjTi2TPfTVRGf2tT0KKn2weEtwloT9xsZtNdhnj

